.head-content{
    background-image: url('../../assets/bg-desktop-dark.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
    position: relative;
}
.head-text{
    position: absolute;
    display: inline-block;
    left:31%;
    top: 20%;
    width:65%;
}
.box-detail{
    position: absolute;
    top: 75%;
    left: 31%;
    width: 38%;
}
.compSty{
    width: 38%;
}
.clfx::after{
    content: '';
    display: table;
    clear: both;
}
h1{
    display: inline-block;
    text-transform: uppercase;
    float: left;
    letter-spacing: 10px;
}
