
.inp-det{
    position: absolute;
    top: 40%;
    left: 31%;
    background-color:#2C273F;
    height: 40px;
    width: 38%;
    border-radius:5px;
	box-shadow:0px 15px 30px rgba(0,0,0,.2);
}

*:focus{
	outline:none;
	}
.inpt{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid transparent;
    float: left;
}
#sw-icon{
	background:transparent;
	cursor:pointer;
    border: 1px solid red;
    height: 20px;
    width: 20px;
    padding: 2px;
    border-radius: 50%;
    margin-top:10px;
    float: left;
    margin-left: 15px;
	}
button{  
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:#333f57;
    color: #fff;
    margin-bottom: 45px;
}